Repository fastapi/typer, pull requests merged in 2022-11, with the labels that each got.

#403 📝 Add note about how subcommands with function names using underscores are converted to dashes
  docs/tutorial/commands/name.md
Labels: documentation

#284 🎨 Fix type annotation of `typer.run()`
  typer/main.py
Labels: bug, feature / types

#384 👷 Add CI for Python 3.10
  .github/workflows/test.yml
Labels: repo / tests
