Repository fastapi/typer, pull requests merged in 2024-08, with the labels that each got.

#896 👷 Refactor GitHub Action to comment docs deployment URLs and update token, preparing for GitHub org
  .github/actions/comment-docs-preview-in-pr/Dockerfile
  .github/actions/comment-docs-preview-in-pr/action.yml
  .github/actions/comment-docs-preview-in-pr/app/main.py
  .github/workflows/deploy-docs.yml
  requirements-github-actions.txt
  scripts/comment_docs_deploy_url_in_pr.py
Labels: internal

#897 👷 Update issue-manager.yml GitHub Action permissions
  .github/workflows/issue-manager.yml
Labels: internal

#900 🔧 Update MkDocs configs and docs build setup
  .github/workflows/build-docs.yml
  docs/index.md
  mkdocs.insiders.yml
  mkdocs.maybe-insiders.yml
  mkdocs.no-insiders.yml
  mkdocs.yml
  scripts/build-docs.sh
  scripts/clean.sh
  scripts/docs-live.sh
  scripts/docs.py
  scripts/test-files.sh
Labels: internal

#901 🔨 Update lint script
  scripts/lint.sh
Labels: internal

#902 🙈 Add MkDocs Material cache to gitignore
  .gitignore
Labels: internal

#903 ➖ Do not install jieba for MkDocs Material as there are no chinese translations
  requirements-docs.txt
Labels: internal

#904 🔧 Enable dark mode for docs
  mkdocs.yml
Labels: internal

#905 🔧 Enable MkDocs Material features
  mkdocs.yml
Labels: internal

#906 🔧 Update tabs and admonitions with new syntax and new MkDocs features
  docs/alternatives.md
  docs/contributing.md
  docs/features.md
  docs/help-typer.md
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/arguments.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/context.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/index.md
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/commands/options.md
  docs/tutorial/first-steps.md
  docs/tutorial/index.md
  docs/tutorial/launch.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/multiple-options.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/password.md
  docs/tutorial/options/prompt.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/package.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/custom-types.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/subcommands/add-typer.md
  docs/tutorial/subcommands/name-and-help.md
  docs/tutorial/subcommands/nested-subcommands.md
  docs/tutorial/terminating.md
  docs/tutorial/testing.md
  docs/tutorial/typer-command.md
  docs/tutorial/using-click.md
  mkdocs.yml
Labels: internal

#907 💄 Add dark mode logo
  README.md
  docs/img/logo-margin/logo-margin-white-vector.svg
  docs/img/logo-margin/logo-margin-white.svg
  docs/index.md
  scripts/docs.py
Labels: internal

#908 🔧 Enable auto dark mode from system
  mkdocs.yml
Labels: internal

#910 👷🏻 Show docs deployment status and preview URLs in comment
  .github/workflows/deploy-docs.yml
  scripts/comment_docs_deploy_url_in_pr.py
  scripts/deploy_docs_status.py
Labels: internal

#912 👷 Update docs-previews to handle no docs changes
  .github/workflows/deploy-docs.yml
  scripts/deploy_docs_status.py
Labels: internal

#911 👷 Add alls-green for test-redistribute
  .github/workflows/test-redistribute.yml
Labels: internal

#913 🔧 Update MkDocs to have titles in Markdown files instead of config
  docs/alternatives.md
  docs/contributing.md
  docs/features.md
  docs/help-typer.md
  docs/release-notes.md
  docs/tutorial/app-dir.md
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/index.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/arguments/other-uses.md
  docs/tutorial/commands/arguments.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/context.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/index.md
  docs/tutorial/commands/name.md
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/commands/options.md
  docs/tutorial/first-steps.md
  docs/tutorial/index.md
  docs/tutorial/launch.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/index.md
  docs/tutorial/multiple-values/multiple-options.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/help.md
  docs/tutorial/options/index.md
  docs/tutorial/options/name.md
  docs/tutorial/options/password.md
  docs/tutorial/options/prompt.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/package.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/custom-types.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
  docs/tutorial/subcommands/add-typer.md
  docs/tutorial/subcommands/callback-override.md
  docs/tutorial/subcommands/index.md
  docs/tutorial/subcommands/name-and-help.md
  docs/tutorial/subcommands/nested-subcommands.md
  docs/tutorial/subcommands/single-file.md
  docs/tutorial/terminating.md
  docs/tutorial/testing.md
  docs/tutorial/using-click.md
  mkdocs.yml
Labels: internal

#914 👷 Upgrade build docs configs
  .github/workflows/build-docs.yml
  docs/css/termynal.css
  docs/js/custom.js
  docs/js/termynal.js
  mkdocs.insiders.yml
  mkdocs.yml
  requirements-docs-insiders.txt
  requirements-docs.txt
  scripts/docs.py
  scripts/mkdocs_hooks.py
Labels: internal

#916 🔧 Update MkDocs previews
  mkdocs.insiders.yml
  mkdocs.yml
Labels: internal

#917 📝 Add docs for team and repo management
  data/members.yml
  docs/about/index.md
  docs/css/custom.css
  docs/management-tasks.md
  docs/management.md
  docs/resources/index.md
  docs/tutorial/index.md
  mkdocs.yml
Labels: docs

#918 🔨 Update docs.py script to enable dirty reload conditionally
  scripts/docs.py
Labels: internal

#919 📝 Update docs links, from tiangolo to new fastapi org
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  CITATION.cff
  README.md
  docs/help-typer.md
  docs/index.md
  docs/management-tasks.md
  docs/tutorial/subcommands/index.md
  mkdocs.yml
  pyproject.toml
  typer-cli/README.md
Labels: docs

#922 👷 Add GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#924 👷 Add GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#925 👷 Add GitHub Action label-checker
  .github/workflows/labeler.yml
Labels: internal

#926 👷 Update labeler GitHub Actions permissions and dependencies
  .github/workflows/labeler.yml
Labels: internal

#927 👷 Update labeler GitHub Action to add only one label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#930 👷 Do not sync labels as it overrides manually added labels
  .github/workflows/labeler.yml
Labels: internal

#931 🔧 Add URLs to `pyproject.toml`, show up in PyPI
  pyproject.toml
Labels: internal

#737 🐛 Fix `shell_complete` not working for Arguments
  tests/assets/completion_argument.py
  tests/test_others.py
  typer/main.py
Labels: bug, p2

#814 🐛 Fix usage of `Annotated` with future annotations in Python 3.7+
  tests/test_future_annotations.py
  typer/utils.py
Labels: bug, p2

#237 🐛 Fix `zsh` autocompletion installation
  typer/_completion_shared.py
Labels: bug, p2, shell / zsh

#548 🐛 Fix support for `UnionType` (e.g. `str | None`) with Python 3.11
  tests/test_type_conversion.py
  typer/main.py
Labels: bug, types, p2

#936 🙈 Remove extra line in .gitignore
  .gitignore
Labels: internal

#946 📝 Add docs for virtual environments, environment variables, and update contributing
  README.md
  docs/contributing.md
  docs/environment-variables.md
  docs/index.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/index.md
  docs/tutorial/install.md
  docs/virtual-environments.md
  mkdocs.yml
Labels: docs

#947 ✏️ Fix typo in `docs/contributing.md`
  docs/contributing.md
Labels: docs

#948 👷 Fix issue-manager
  .github/workflows/issue-manager.yml
Labels: internal

#952 ✏️ Fix a typo in `docs/virtual-environments.md`
  docs/virtual-environments.md
Labels: docs

#953 📝 Add docs and scripts to test completion in different shells
  docs/contributing.md
  scripts/docker/Dockerfile
  scripts/docker/compose.yaml
Labels: docs

#199 📝 Update the Progress Bar tutorial with correct output
  docs/tutorial/progressbar.md
  docs_src/progressbar/tutorial006.py
Labels: docs, p3

#425 🚸 Improve assertion error message if a group is not a valid subclass
  typer/main.py
Labels: feature, p3

#781 📝 Update package docs with the latest versions of Typer and Poetry
  docs/tutorial/package.md
Labels: docs, p3

#835 📝 Fix broken link
  docs/alternatives.md
Labels: docs, p3

#858 🔥 Clean up redundant code
  tests/test_completion/test_completion_install.py
  typer/main.py
Labels: refactor, p3

#868 📝Add missing `main.py` in tutorial on CLI option names
  docs/tutorial/options/name.md
Labels: docs, p3

#891 ♻️ Use F-strings in Click examples in docs
  docs_src/using_click/tutorial001.py
  docs_src/using_click/tutorial003.py
Labels: docs, p3

#850 🔥 Remove Python 3.6 specific code paths
  typer/_typing.py
Labels: refactor, p3

#788 💄 Unify the width of the Rich console for help and errors
  typer/main.py
Labels: feature, p3

#360 🐛 Fix PowerShell completion with incomplete word
  tests/test_tutorial/test_options_autocompletion/test_tutorial003.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial003_an.py
  typer/_completion_classes.py
Labels: bug, p2, shell / powershell

#801 🐛 Fix sourcing of completion path for Git Bash
  typer/_completion_shared.py
Labels: bug, os / windows, p2, shell / bash

#859 🐛 Ensure `rich_markup_mode=None` disables Rich formatting
  docs/tutorial/commands/help.md
  tests/test_rich_markup_mode.py
  typer/core.py
  typer/main.py
Labels: bug, p2

#888 ✅ Add `needs_bash` test fixture
  tests/test_completion/test_completion.py
  tests/utils.py
Labels: repo / tests, internal, p2

#954 🔨 Pre-install dependencies in Docker so that testing in Docker is faster
  scripts/docker/Dockerfile
  scripts/docker/compose.yaml
Labels: internal

#955 👷 Update `latest-changes` GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal

#944 ✨ Show help items in order of definition
  docs/tutorial/commands/index.md
  docs_src/commands/index/tutorial004.py
  tests/assets/cli/multiapp-docs-title.md
  tests/assets/cli/multiapp-docs.md
  tests/test_tutorial/test_commands/test_index/test_tutorial004.py
  typer/core.py
Labels: feature

#959 ✏️ Fix typo in function name `_make_rich_text`
  typer/rich_utils.py
Labels: refactor

#805 🔥 Remove unused functionality from `_typing.py` file
  pyproject.toml
  typer/_typing.py
  typer/main.py
  typer/utils.py
Labels: refactor, p3
