Repository fastapi/typer, pull requests merged in 2024-03, with the labels that each got.

#749 🔥 Remove Jina QA Bot as it has been discontinued
  docs/overrides/main.html
Labels: internal

#571 🐛 Fix preserving case in enum values
  docs/tutorial/parameter-types/enum.md
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial001.py
  typer/main.py
Labels: bug, p2

#675 📝 Update link in docs to the newest stable version of click
  docs/tutorial/commands/context.md
Labels: docs, click, p3

#683 📝 Update docs for building a package, file structure example
  docs/tutorial/package.md
Labels: docs, p3

#750 🐛 Add missing `default_factory` in `Argument` overloads
  typer/params.py
Labels: bug, p2

#752 💡 Add comments to document overload definitions in code
  typer/params.py
Labels: internal, p3

#755 📝 Update docs example for a Typer/Click group to make new subcommands explicit
  docs/tutorial/using-click.md
  tests/test_tutorial/test_using_click/test_tutorial003.py
Labels: docs, p3

#501 🐛 Update type annotations for `show_default` parameter and update docs for setting a "Custom default string"
  docs/tutorial/options/help.md
  docs_src/options/help/tutorial004.py
  docs_src/options/help/tutorial004_an.py
  typer/models.py
  typer/params.py
Labels: bug, types, p2

#473 🐛 Fix display of default value for Enum parameters inside of a list, include docs and tests
  docs/tutorial/parameter-types/enum.md
  docs_src/parameter_types/enum/tutorial003.py
  docs_src/parameter_types/enum/tutorial003_an.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial003.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial003_an.py
  typer/core.py
Labels: bug, p2

#721 🐛 Fix evaluating stringified annotations in Python 3.10 (also `from __future__ import annotations`)
  tests/test_annotated.py
  tests/utils.py
  typer/utils.py
Labels: bug, p2

#417 ✨ Improve support for CLI translations uisng gettext
  typer/core.py
  typer/rich_utils.py
Labels: feature, p2

#664 🐛 Fix default value of `None` for CLI Parameters when the type is `list | None` and the default value is `None`
  docs/tutorial/multiple-values/multiple-options.md
  docs_src/multiple_values/multiple_options/tutorial001.py
  docs_src/multiple_values/multiple_options/tutorial001_an.py
  tests/test_tutorial/test_multiple_values/test_multiple_options/test_tutorial001.py
  tests/test_tutorial/test_multiple_values/test_multiple_options/test_tutorial001_an.py
  typer/main.py
Labels: bug, p2

#759 👷 Add alls-green to CI
  .github/workflows/test.yml
Labels: internal

#758 🔥 Remove support for Python 3.6
  .github/workflows/test.yml
  .gitignore
  README.md
  docs/features.md
  docs/index.md
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/options.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/multiple-options.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/password.md
  docs/tutorial/options/prompt.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/package.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/custom-types.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/testing.md
  pyproject.toml
  scripts/netlify-docs.sh
  tests/test_tracebacks.py
  tests/test_tutorial/test_exceptions/test_tutorial001.py
  tests/test_tutorial/test_exceptions/test_tutorial002.py
  tests/test_tutorial/test_exceptions/test_tutorial003.py
  tests/test_tutorial/test_exceptions/test_tutorial004.py
Labels: breaking

#760 🔥 Remove support for Click 7, require Click 8+
  .github/workflows/test.yml
  docs/tutorial/options/callback-and-context.md
  docs_src/options/callback/tutorial001.py
  docs_src/options/callback/tutorial001_an.py
  docs_src/options/callback/tutorial002.py
  docs_src/options/callback/tutorial002_an.py
  docs_src/options/callback/tutorial003.py
  docs_src/options/callback/tutorial003_an.py
  docs_src/options/callback/tutorial004.py
  docs_src/options/callback/tutorial004_an.py
  pyproject.toml
  tests/test_compat/test_option_get_help.py
  tests/test_completion/test_completion_install.py
  tests/test_completion/test_completion_show.py
  tests/test_others.py
  tests/test_tutorial/test_commands/test_callback/test_tutorial001.py
  tests/test_tutorial/test_commands/test_help/test_tutorial001.py
  tests/test_tutorial/test_commands/test_help/test_tutorial001_an.py
  tests/test_tutorial/test_commands/test_options/test_tutorial001.py
  tests/test_tutorial/test_commands/test_options/test_tutorial001_an.py
  tests/test_tutorial/test_multiple_values/test_arguments_with_multiple_values/test_tutorial002.py
  tests/test_tutorial/test_multiple_values/test_arguments_with_multiple_values/test_tutorial002_an.py
  tests/test_tutorial/test_multiple_values/test_options_with_multiple_values/test_tutorial001.py
  tests/test_tutorial/test_multiple_values/test_options_with_multiple_values/test_tutorial001_an.py
  tests/test_tutorial/test_options/test_name/test_tutorial001.py
  tests/test_tutorial/test_options/test_name/test_tutorial001_an.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial003.py
  tests/test_tutorial/test_options/test_prompt/test_tutorial003_an.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial008.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial008_an.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial009.py
  tests/test_tutorial/test_options_autocompletion/test_tutorial009_an.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial001_an.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002_an.py
  tests/test_tutorial/test_parameter_types/test_datetime/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_index/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001_an.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial002_an.py
  tests/test_tutorial/test_parameter_types/test_uuid/test_tutorial001.py
  tests/test_tutorial/test_using_click/test_tutorial003.py
  typer/_compat_utils.py
  typer/_completion_classes.py
  typer/_completion_click7.py
  typer/_completion_shared.py
  typer/completion.py
  typer/core.py
  typer/models.py
  typer/rich_utils.py
Labels: breaking

#764 🔧 Refactor package manager, move from Flit to PDM, remove private pip extras for `test`, `doc`, `dev`
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  pyproject.toml
  requirements-docs.txt
  requirements-tests.txt
  requirements.txt
Labels: breaking

#765 👷 Upgrade issue-manager GitHub Action
  .github/workflows/issue-manager.yml
Labels: internal

#766 👷 Upgrade latest-changes GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal

#767 👷 Upgrade Smokeshow GitHub action
  .github/workflows/smokeshow.yml
Labels: internal

#768 🔧 Upgrade mypy and config
  mypy.ini
  pyproject.toml
  requirements-tests.txt
  scripts/lint.sh
  typer/core.py
  typer/main.py
Labels: internal

#769 ⬆️ Upgrade coverage and configs
  .coveragerc
  .gitignore
  pyproject.toml
  requirements-tests.txt
  scripts/test.sh
  tests/test_completion/test_completion.py
  tests/test_completion/test_completion_install.py
  tests/test_others.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial002_an.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial004.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial004_an.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial005.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial005_an.py
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial001_an.py
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_path/test_tutorial002_an.py
  typer/_completion_classes.py
  typer/_completion_shared.py
  typer/completion.py
  typer/core.py
  typer/main.py
Labels: internal

#773 🔧 Explicitly include testing files in sdist for redistributors (e.g. OpenSUSE) and add CI to test redistribution
  .github/workflows/test-redistribute.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/test.sh
Labels: bug

#774 👷 Do not use the cache for dependencies when publishing to PyPI
  .github/workflows/publish.yml
Labels: internal

#778 👷 Fix install MkDocs Insiders only when available
  .github/workflows/build-docs.yml
Labels: internal

#779 🔧 Temporarily disable social plugin while a MkDocs issue is handled
  mkdocs.insiders.yml
Labels: internal

#782 ✨ Add support for `typer ./someprogram.py utils docs --title`
  docs/tutorial/typer-command.md
  tests/assets/cli/multiapp-docs-title.md
  tests/test_cli/test_doc.py
  typer/cli.py
Labels: feature
