Repository fastapi/typer, pull requests merged in 2024-04, with the labels that each got.

#783 👷 Add cron to run test once a week on monday
  .github/workflows/test.yml
Labels: internal

#791 🐛 Fix broken installation when upgrading from `typer <0.12.0` to `typer >=0.12.0`, make `typer` independent of `typer-slim`, include `typer` command in `typer` package
  .github/workflows/publish.yml
  .github/workflows/test-redistribute.yml
  README.md
  docs/index.md
  docs/tutorial/index.md
  pdm_build.py
  pyproject.toml
  typer-cli/README.md
  typer/__init__.py
  typer_cli_package/pdm_build.py
  typer_cli_package/pyproject.toml
  typer_package/pdm_build.py
  typer_package/pyproject.toml
Labels: bug

#632 📝 Remove references to a .rst README generated by poetry new
  docs/tutorial/package.md
Labels: docs, p3

#789 📝 Update console output with Click 8 messages
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/options.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/options/prompt.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/uuid.md
Labels: docs, p3

#761 📝 Fix typos in documentation
  docs/help-typer.md
  docs/tutorial/arguments/optional.md
  docs_src/parameter_types/custom_types/tutorial001.py
  tests/test_others.py
  tests/test_tutorial/test_parameter_types/test_custom_types/test_tutorial001.py
Labels: docs, p3

#793 🔧 Fix typo in Github template
  .github/DISCUSSION_TEMPLATE/questions.yml
Labels: docs, p3

#757 🐛 Add support for an argument of type `Optional[Tuple]` and default value `None`
  tests/test_type_conversion.py
  typer/main.py
Labels: bug, p2

#796 🐛 Fix Rich formatting with no commands
  tests/test_rich_utils.py
  typer/rich_utils.py
Labels: bug, p2

#797 🔧 Tweak development scripts and configs after migration to PDM, Ruff, etc.
  pyproject.toml
  requirements-tests.txt
  requirements.txt
  scripts/format-imports.sh
  scripts/format.sh
  scripts/lint.sh
  scripts/publish.sh
  scripts/zip-docs.sh
Labels: internal

#813 🔧 Update MkDocs Material, enable plugins
  mkdocs.insiders.yml
Labels: internal
