Repository fastapi/typer, pull requests merged in 2024-11, with the labels that each got.

#987 🗑️ Deprecate support for `is_flag` and `flag_value` parameters
  tests/test_deprecation.py
  typer/completion.py
  typer/core.py
  typer/main.py
  typer/models.py
  typer/params.py
Labels: refactor

#972 📝 Update the docstring of the `_make_rich_text` method
  typer/rich_utils.py
Labels: internal

#995 ✅ Only run completion installation tests when the env var `_TYPER_RUN_INSTALL_COMPLETION_TESTS` is set
  scripts/test.sh
  tests/test_completion/test_completion.py
  tests/test_completion/test_completion_install.py
  tests/test_others.py
  tests/utils.py
Labels: repo / tests, internal

#988 🐛 Allow colon in zsh autocomplete values and descriptions
  tests/test_completion/colon_example.py
  tests/test_completion/test_completion_option_colon.py
  typer/_completion_classes.py
Labels: bug, shell / zsh

#1035 ✨ Update `launch` to not print anything when opening urls
  tests/test_launch.py
  typer/__init__.py
  typer/main.py
Labels: feature

#1039 ✨ Handle `KeyboardInterrupt` separately from other exceptions
  tests/test_exit_errors.py
  typer/core.py
Labels: feature

#886 ✨ Allow gettext translation of help message
  typer/rich_utils.py
Labels: feature, p3

#808 ✨ Support cp850 encoding for auto-completion in PowerShell
  typer/_completion_shared.py
Labels: feature, os / windows, p3

#847 ✨ Render Rich markup as HTML in Markdown docs
  tests/assets/cli/rich_formatted_app.py
  tests/assets/cli/richformattedapp-docs.md
  tests/test_cli/test_doc.py
  typer/cli.py
  typer/core.py
  typer/rich_utils.py
Labels: feature, p3

#1055 🐛 Fix printing HTML from Rich output
  typer/rich_utils.py
Labels: refactor

#1054 📝 Update markdown includes to use the new simpler format
  docs/tutorial/app-dir.md
  docs/tutorial/arguments/default.md
  docs/tutorial/arguments/envvar.md
  docs/tutorial/arguments/help.md
  docs/tutorial/arguments/optional.md
  docs/tutorial/commands/arguments.md
  docs/tutorial/commands/callback.md
  docs/tutorial/commands/context.md
  docs/tutorial/commands/help.md
  docs/tutorial/commands/index.md
  docs/tutorial/commands/name.md
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/commands/options.md
  docs/tutorial/exceptions.md
  docs/tutorial/first-steps.md
  docs/tutorial/launch.md
  docs/tutorial/multiple-values/arguments-with-multiple-values.md
  docs/tutorial/multiple-values/multiple-options.md
  docs/tutorial/multiple-values/options-with-multiple-values.md
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/callback-and-context.md
  docs/tutorial/options/help.md
  docs/tutorial/options/name.md
  docs/tutorial/options/password.md
  docs/tutorial/options/prompt.md
  docs/tutorial/options/required.md
  docs/tutorial/options/version.md
  docs/tutorial/parameter-types/bool.md
  docs/tutorial/parameter-types/custom-types.md
  docs/tutorial/parameter-types/datetime.md
  docs/tutorial/parameter-types/enum.md
  docs/tutorial/parameter-types/file.md
  docs/tutorial/parameter-types/index.md
  docs/tutorial/parameter-types/number.md
  docs/tutorial/parameter-types/path.md
  docs/tutorial/parameter-types/uuid.md
  docs/tutorial/printing.md
  docs/tutorial/progressbar.md
  docs/tutorial/prompt.md
  docs/tutorial/subcommands/add-typer.md
  docs/tutorial/subcommands/callback-override.md
  docs/tutorial/subcommands/name-and-help.md
  docs/tutorial/subcommands/nested-subcommands.md
  docs/tutorial/subcommands/single-file.md
  docs/tutorial/terminating.md
  docs/tutorial/testing.md
  docs/tutorial/typer-command.md
  docs/tutorial/using-click.md
  mkdocs.yml
  requirements-docs.txt
Labels: docs

#1052 🔥 Remove auto naming of groups added via `add_typer` based on the group's callback function name
  docs/tutorial/subcommands/name-and-help.md
  docs_src/subcommands/name_help/tutorial002.py
  docs_src/subcommands/name_help/tutorial003.py
  docs_src/subcommands/name_help/tutorial004.py
  docs_src/subcommands/name_help/tutorial005.py
  docs_src/subcommands/name_help/tutorial007.py
  docs_src/subcommands/name_help/tutorial008.py
  tests/test_callback_warning.py
  tests/test_tutorial/test_subcommands/test_name_help/test_tutorial007.py
  typer/main.py
Labels: breaking
