Repository fastapi/typer, pull requests merged in 2024-05, with the labels that each got.

#809 ✅ Add `__init__.py` files to fix test suite
  docs_src/subcommands/tutorial001/__init__.py
  docs_src/subcommands/tutorial003/__init__.py
Labels: repo / tests, internal, p3

#810 ✅ Generalize test suite to run on Windows
  tests/test_completion/test_completion.py
  tests/test_completion/test_completion_install.py
Labels: repo / tests, internal, p3

#827 👷 Tweak CI for test-redistribute, add needed env vars for slim
  .github/workflows/test-redistribute.yml
  requirements-tests.txt
Labels: internal

#829 👷 Update GitHub Actions to upload and download artifacts
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
Labels: internal

#824 ✅ Add CI configs to run tests on Windows and MacOS
  .github/workflows/test.yml
  pyproject.toml
  tests/test_completion/test_completion.py
  tests/test_tutorial/test_commands/test_help/test_tutorial004.py
  tests/test_tutorial/test_commands/test_help/test_tutorial004_an.py
  tests/test_tutorial/test_commands/test_help/test_tutorial005.py
  tests/test_tutorial/test_commands/test_help/test_tutorial005_an.py
  tests/test_tutorial/test_commands/test_help/test_tutorial006.py
  tests/test_tutorial/test_commands/test_help/test_tutorial007.py
  tests/test_tutorial/test_commands/test_help/test_tutorial007_an.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial004.py
  tests/test_tutorial/test_parameter_types/test_file/test_tutorial004_an.py
  tests/utils.py
Labels: repo / tests, internal, p3

#807 ✨ Add support for Python 3.12, tests in CI and official marker
  .github/workflows/test.yml
  pyproject.toml
Labels: feature, p3
