Repository fastapi/typer, pull requests merged in 2024-12, with the labels that each got.

#1037 ✨ Add support for extending typer apps without passing a name, add commands to the top level
  docs/tutorial/one-file-per-command.md
  docs_src/one_file_per_command/__init__.py
  docs_src/one_file_per_command/main.py
  docs_src/one_file_per_command/users/__init__.py
  docs_src/one_file_per_command/users/add.py
  docs_src/one_file_per_command/users/delete.py
  docs_src/one_file_per_command/version.py
  mkdocs.yml
  tests/assets/cli/extended_app_cli.py
  tests/assets/cli/extended_empty_app_cli.py
  tests/test_cli/test_extending_app.py
  tests/test_cli/test_extending_empty_app.py
  tests/test_tutorial/test_one_file_per_command/__init__.py
  tests/test_tutorial/test_one_file_per_command/test_tutorial.py
  typer/main.py
Labels: feature

#1079 🔨 Update deploy docs preview script
  scripts/deploy_docs_status.py
Labels: internal

#1080 🔧 Update build-docs filter patterns
  .github/workflows/build-docs.yml
Labels: internal

#1077 ✏️ Fix a few small typos in the documentation
  docs/contributing.md
  docs/tutorial/options-autocompletion.md
Labels: docs

#974 🗑️ Deprecate `shell_complete` and continue to use `autocompletion` for CLI parameters
  docs/tutorial/options-autocompletion.md
  pyproject.toml
  tests/assets/compat_click7_8.py
  tests/test_compat/test_option_get_help.py
  typer/core.py
  typer/models.py
  typer/params.py
Labels: feature

#1067 📝 Fix minor inconsistencies and typos in tutorial
  docs/tutorial/commands/one-or-multiple.md
  docs/tutorial/commands/options.md
  docs/tutorial/first-steps.md
  docs_src/commands/one_or_multiple/tutorial002.py
  tests/test_tutorial/test_commands/test_one_or_multiple/test_tutorial002.py
Labels: docs
