Repository fastapi/typer, pull requests merged in 2025-09, with the labels that each got.

#1286 👷 Detect and label merge conflicts on PRs automatically
  .github/workflows/conflict.yml
Labels: internal

#1290 🐛 Make sure `rich.markup` is imported when rendering help text
  tests/test_rich_utils.py
  typer/core.py
  typer/main.py
  typer/rich_utils.py
Labels: bug

#1336 ⬇️ Restrict Click to below 8.3.0 to handle changes in the new version
  pyproject.toml
Labels: bug

#1333 👽️ Ensure compatibility with Click 8.3.0 by restoring the original `value_is_missing` function
  typer/core.py
Labels: bug

#1297 ✅ Use Ruff rules to ensure safe lazy-loading of `rich`
  pyproject.toml
  tests/assets/type_error_no_rich.py
  tests/assets/type_error_no_rich_short_disable.py
  tests/test_corner_cases.py
  tests/test_tutorial/test_arguments/test_envvar/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_envvar/test_tutorial001_an.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial001_an.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial008.py
  tests/test_tutorial/test_arguments/test_help/test_tutorial008_an.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial001.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial001_an.py
  tests/test_tutorial/test_arguments/test_optional/test_tutorial003.py
  tests/test_tutorial/test_commands/test_callback/test_tutorial001.py
  tests/test_tutorial/test_options/test_required/test_tutorial001.py
  tests/test_tutorial/test_options/test_required/test_tutorial001_an.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002.py
  tests/test_tutorial/test_parameter_types/test_bool/test_tutorial002_an.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001.py
  tests/test_tutorial/test_parameter_types/test_number/test_tutorial001_an.py
  tests/test_tutorial/test_terminating/test_tutorial003.py
  typer/cli.py
  typer/core.py
  typer/main.py
Labels: feature, repo / tests

#1268 📝 Clarify single-command vs multi-command behaviour in README
  README.md
  docs/index.md
Labels: docs

#1303 ✨ Allow setting an environment variable to `None` in `CliRunner.invoke`
  typer/testing.py
Labels: feature

#429 ✨ Support `typing.Literal` to define a set of predefined choices
  docs/tutorial/parameter-types/enum.md
  docs_src/parameter_types/enum/tutorial004.py
  docs_src/parameter_types/enum/tutorial004_an.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial004.py
  tests/test_tutorial/test_parameter_types/test_enum/test_tutorial004_an.py
  typer/_typing.py
  typer/main.py
Labels: feature, types, p3

#1018 🐛 Ensure that `Optional[list]` values work correctly with callbacks
  tests/test_others.py
  typer/main.py
Labels: bug

#830 🔥 Drop support for Python 3.7
  .github/workflows/test.yml
  pyproject.toml
  typer/_typing.py
Labels: refactor, p3
