Repository fastapi/typer, pull requests merged in 2025-02, with the labels that each got.

#1045 📝 Clarify the need for `mix_stderr` when accessing the output of `stderr` in tests
  docs/tutorial/testing.md
Labels: docs

#983 📝 Update optional CLI argument section in tutorial with `Annotated`
  docs/tutorial/arguments/optional.md
  docs_src/arguments/optional/tutorial002.py
  docs_src/arguments/optional/tutorial002_an.py
Labels: docs

#1048 ✨ Avoid the unnecessary import of `typing_extensions` in newer Python versions
  typer/_typing.py
  typer/core.py
  typer/main.py
  typer/rich_utils.py
  typer/utils.py
Labels: feature

#1069 🐛 Fix shell completions for the fish shell
  tests/test_completion/example_rich_tags.py
  tests/test_completion/test_completion_complete.py
  tests/test_completion/test_completion_complete_rich.py
  tests/test_completion/test_sanitization.py
  typer/_completion_classes.py
  typer/completion.py
  typer/rich_utils.py
Labels: bug, shell / fish

#1091 🔧 Add support for Python 3.13, tests in CI and add PyPI trove classifier
  .github/workflows/test.yml
  pyproject.toml
Labels: internal

#1137 ✏️ Fix small typos in the tutorial documentation
  docs/tutorial/options-autocompletion.md
  docs/tutorial/options/callback-and-context.md
Labels: docs

#1165 ✏️ Fix typo in test name
  tests/assets/corner_cases.py
  tests/test_corner_cases.py
Labels: internal
